	
.btn:link,
.btn:visited
	padding: 1em 2em
	font-family: $font-second
	color: $font-color-btn-link
	text-decoration: none
	border: 2px solid $font-color-btn-link
	font-weight: 600
	transition: 0.3s
	transition: background-color 0.2s, border 0.2s, color 0.2s
	&:hover, 
	&:active
		background-color: invert(#000, 20%)
		color: saturation($font-color-btn-link) 
		border-color: darken($font-color-btn-link, 10%) 
        
