$background-color-nav: #584B4F //444649
$font-color-nav: #EBD0A5
$font-color-nav-hover: #BE3F22

nav
   display: flex
   background-color: $background-color-nav
   align-content: center
   height: 40px
   border-bottom: 3px solid #D36E2D
   
.main-nav
    display: flex
    list-style: none
    margin: auto
    

.main-nav li
    display: flex
    margin-left: 60px
    

.main-nav li a:link,
.main-nav li a:visited 
	padding: 8px 0
	color: $font-color-nav 
	text-decoration: none
	//text-transform: uppercase
	font-size: 100%
	transition: color 0.6s

.main-nav li a:hover,
.main-nav li a:active 
	color: $font-color-nav-hover 
