
canvas 
  display: flex
  vertical-align: bottom
  

#particles-js,
.practise-js-canvas-el
  position: absolute
  width: 100%
  height: 100%
  transform: scale(1)
  opacity: 1
  animation-fill-mode: forwards
  
    
