
header 
    display: flex
    height: 100vh
    overflow: hidden  
    background-color: #fff
    h1 
        font-weight: 700
        font-size: 600%
    p 
        font-weight: 500
        font-size: 200% 
        margin-bottom: 40px
        font-family: $font-second
    a
        &:hover,
        &:focus 
            cursor: pointer
            color: $font-color-btn-link
            transition: color 0.4s
    @media only screen and (max-width: $tablet)
        p 
            margin-bottom: 10%
        .btn
            font-size: 1.5em
        .mouse-scroll-icon
            padding-top: 15%

    @media only screen and (max-width: $tablet - 1)
        flex-direction: column
        h1 
            font-size: 200%
        p 
            font-size: 150%
        .hero-text
            .btn
                font-size: .7rem
        .mouse-scroll-icon
            padding-top: 15%
    @media only screen and (max-width: $phone)
        h1 
            margin-top: 2%
            margin-bottom: 10%
            font-size: 200%
        p 
            font-size: 90%
            margin-bottom: 15%
        .btn:link,
        .btn:visited
            padding: .5em 1em
            font-size: .9em
        .mouse-scroll-icon
            display: none
             
    .aside
        display: flex
        flex-direction: column
        width: 80px
        //height: 100vh
        background-color: black
        color: white
        justify-content: flex-end
        div
            margin-bottom: 20px
            align-self: center
            &:last-of-type
                margin-bottom: 80px
        @media only screen and (max-width: $tablet - 1)
            display: none
    .mobile-aside
        display: none
        flex-direction: row
        height: 70px
        background-color: black
        color: white
        justify-content: space-around
        align-items: center
        // div
        //     margin-right: 40px
        //     align-self: center
        //     &:last-of-type
        //         margin-right: 80px
        @media only screen and (max-width: $tablet - 1)
            display: flex
            z-index: 100
            
            


#hero-text
    margin-left: 1%
    z-index: 100
   
.hero-text-box
    margin: 0 auto
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: space-around
    @media only screen and (max-width: $phone + 1)
        #header
           height: 100vh



       
