
canvas 
  // display: flex
  // vertical-align: bottom
  height: 100vh

#particles-js,
.practise-js-canvas-el
  position: absolute
  width: 100vw
  height: 100vh
  transform: scale(1)
  opacity: 1
  animation-fill-mode: forwards
  
    
