
header 
    display: flex
    align-items: center
    align-content: center
    height: 100vh
    overflow: hidden  
    background-color: $header-bg-color
    h1 
        font-weight: 450
        

.hero-text-box
    margin: auto
    text-align: center
    h1
        margin-bottom: 50px
    
    
    