
header 
    display: flex
    height: 100vh
    overflow: hidden  
    background-color: #fff
    h1 
        font-weight: 700
        font-size: 600%
    p 
        font-weight: 500
        font-size: 200% 
        margin-bottom: 40px
        font-family: $font-second
    .aside
        display: flex
        flex-direction: column
        width: 80px
        //height: 100vh
        background-color: black
        color: white
        justify-content: flex-end
        div
            margin-bottom: 20px
            align-self: center
            &:last-of-type
                margin-bottom: 80px

#hero-text
    margin-left: 1%

.hero-text-box
    margin: auto
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: space-around



       
