form(action="mailto:mail.berezkin@gmail.com" method="post" enctype="text/plain")
    fieldset
        label(for="name") Name
          input#name(required name="name" autocomplete="name" autocorrect="off" type="text")
        
        label(for="email") Enter your email
          input#email(required name="email" autocomplete="street-address" autocorrect="off" type="email")
               
        label(for="delivery-instructions") Your message 
          textarea#delivery-instructions(name="textarea" dir="auto")
        
    input(name="submit" type="submit" value="HIRE ME")
 
