
footer
    div
        ul.social-links
            li
                a(href='https://github.com/AlexBerezkin' target='blank') 
                    i.fab.fa-github.fa-2x
            li
                a(href='https://www.linkedin.com/in/alexberezkin' target='blank') 
                    i.fab.fa-linkedin.fa-2x
            li
                a(href="Alex_Berezkin_(Resume).pdf" target="blank") 
                    i.far.fa-file-alt.fa-2x
    div.m
        p Alex Berezkin ©2019