
footer
    div
        ul.social-links
            li
                a(href="") 
                    i.fab.fa-github.fa-2x
            li
                a(href="") 
                    i.fab.fa-linkedin.fa-2x
            li
                a(href="") 
                    i.fab.fa-codepen.fa-2x
    div.m
        p Alex Berezkin ©2019