
ul#scene(data-friction-x="0.03" data-friction-y="0.05")
    li.layer#specks(data-depth="0.1")
    l.layer#layer-1(data-depth="0.15")
        div.img#img-1
    li.layer#layer-2(data-depth="0.25")
        div.img#img-2
    li.layer#layer-3(data-depth="0.45")
        div.img#img-3


