
//- assets/img/project.png

- var src1 = 'assets/img/project.png'
- var src2 = 'assets/img/project.png'
- var src3 = 'assets/img/project.png'
- var src4 = 'assets/img/project.png'
- var src5 = 'assets/img/project.png'
- var src6 = 'assets/img/project.png'

- var head1 = 'SmartFood App'
- var head2 = 'Sedona website'
- var head3 = 'Recipe Book App'
- var head4 = 'KiKi'
- var head5 = 'Quiz Game'
- var head6 = 'Pizza Order Form'

- var txt1 = 'First project'
- var txt2 = 'Second project'
- var txt3 = 'Third project'
- var txt4 = 'Fourth project'
- var txt5 = 'Fifth project'
- var txt6 = 'Sixth project'

- var href1 = '#'
- var href2 = '#'
- var href3 = '#'
- var href4 = '#'
- var href5 = '#'
- var href6 = '#'

mixin card(src, head, text, href)
    .card
        img(src= src)
        .info
            h1= head
            p= text
            a(href= href) VIEW SITE

    