doctype html
html
    head
    body
        header#header
            include ./modules/header-bg.pug
            
            div.hero-text-box
                div#hero-text
                    h1 Hello, I'm <br>Alex Berezkin
                    p I'm a web developer
                    a.btn#start-btn.offset(href="#portfolio", data-target="#hero-text") view my projects
            .aside
                div.animated.bounceInDown.slower
                    a(href='https://github.com/AlexBerezkin' target='blank') 
                        i.fab.fa-github.fa-2x
                div.animated.bounceInDown.slow
                    a(href='https://www.linkedin.com/in/alexberezkin' target='blank')
                        i.fab.fa-linkedin.fa-2x
                div.animated.bounceInDown.fast
                    i.far.fa-file.fa-2x
        nav
            ul.main-nav
                li
                    a(href="#header") home
                li
                    a(href="#about") about
                li
                    a(href="#portfolio") portfolio
                li
                    a(href="#contact") contact

        <!----- ABOUT ------>

        section#about
            h2 ABOUT
            div.section-about
                div.about-me.wow.slideInLeft(data-wow-duration="2s")
                    h3 Who's this guy?
                    img(src='assets/img/myphoto.jpg')
                    p I'm the Front-End Developer for Illumina Lab in San Diego, CA.<br/>I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.<br/>Let's make something special.
                div.skills.wow.slideInRight(data-wow-duration="2s")
                    h3 My skills
                    div.skills-container
                        div.bar 
                            .bar1
                            p 90% 
                                
                        div.bar 
                            .bar2 
                            p 80%    
                        div.bar
                            .bar3 
                            p 70%   
                        div.bar
                            .bar4 
                            p 20%  
                        div.bar
                            .bar5 
                            p 90%    
                        div.bar
                            .bar6 
                            p 80%    
                        div.bar
                            .bar7 
                            p 90%    
                        div.bar
                            .bar8 
                            p 90%    
                        div.bar
                            .bar9 
                            p 75%    
                        div.bar
                            .bar10 
                            p 70%    
                        div.bar
                            .bar11 
                            p 80%    
                        div.bar
                            .bar12 
                            p 50%    
                        div.bar
                            .bar13 
                            p 50%    

        <!----- PORTFOLIO ------>

        section#portfolio
            h2 PROJECTS
            div.section-portfolio.wow.fadeInUp(data-wow-offset="10")
                include ./modules/project-card.pug
                
                +card(src1, head1, txt1, href1)               
                +card(src2, head2, txt2, href2)               
                +card(src3, head3, txt3, href3)               
                +card(src4, head4, txt4, href4)               
                +card(src5, head5, txt5, href5)               
                +card(src6, head6, txt6, href6)      

                       

        <!----- CONTACT ------>
        section#contact.wow.zoomIn(data-wow-duration="2s")
            h2 HIRE ME
            p Have a question or want to work together?
            include ./modules/contact-form.pug

        include ./modules/footer.pug