doctype html
html
    head
        title Alex's portfolio
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    body
        header#header
            include ./modules/header-bg.pug
            div.hero-text-box
                div#hero-text
                    h1 Hello, I'm <br>Alex Berezkin
                    p I'm a front-end web developer<br> based in San Siego, CA
                    a.btn(href="#portfolio") view my projects
                include ./modules/mouse-scroll-icon.pug
                
            div.aside
                div.animated.bounceInDown.slower
                    a(href='https://github.com/AlexBerezkin' target='blank') 
                        i.fab.fa-github.fa-2x
                div.animated.bounceInDown.slow
                    a(href='https://www.linkedin.com/in/alexberezkin' target='blank')
                        i.fab.fa-linkedin.fa-2x
                div.animated.bounceInDown.fast
                    a(href="Alex_Berezkin_(Resume).pdf" target="blank")
                        i.far.fa-file-alt.fa-2x

            div.mobile-aside
                div.animated.bounceInLeft.slower
                    a(href='https://github.com/AlexBerezkin' target='blank') 
                        i.fab.fa-github.fa-2x
                div.animated.bounceInLeft.slow
                    a(href='https://www.linkedin.com/in/alexberezkin' target='blank')
                        i.fab.fa-linkedin.fa-2x
                div.animated.bounceInLeft.fast
                    a(href="Alex_Berezkin_(Resume).pdf" target="blank")
                        i.far.fa-file-alt.fa-2x
            
        nav#navbar
            ul.main-nav.js--main-nav
                li
                    a(href="#header") home
                li
                    a(href="#about") about
                li
                    a(href="#portfolio") portfolio
                li
                    a(href="#contact") contact
            a.mobile-nav-icon.js--nav-icon 
                i.fas.fa-bars
        
             

        <!----- ABOUT ------>

        section#about
            h2 ABOUT
            div.section-about
                div.about-me.wow.slideInLeft(data-wow-duration="2s")
                    h3 Who's this guy?
                    img(src='assets/img/myphoto.jpg')
                    p I'm a Front-End Web Developer from sunny San Diego in beautiful California. I have strong passion for anything web related. I like to code things from scratch, and enjoy bringing ideas to life in the browser. I am always up to study a new features in the web industry.<br/>
                div.skills.wow.slideInRight(data-wow-duration="2s")
                    h3 My skills
                    div.skills-container
                        div.bar 
                            .bar1
                            p 90% 
                                
                        div.bar 
                            .bar2 
                            p 80%    
                        div.bar
                            .bar3 
                            p 70%   
                        div.bar
                            .bar4 
                            p 20%  
                        div.bar
                            .bar5 
                            p 90%    
                        div.bar
                            .bar6 
                            p 80%    
                        div.bar
                            .bar7 
                            p 90%    
                        div.bar
                            .bar8 
                            p 90%    
                        div.bar
                            .bar9 
                            p 75%    
                        div.bar
                            .bar10 
                            p 70%    
                        div.bar
                            .bar11 
                            p 80%    
                        div.bar
                            .bar12 
                            p 50%    
                        div.bar
                            .bar13 
                            p 50%    

        <!----- PORTFOLIO ------>

        section#portfolio
            h2 PROJECTS
            div.section-portfolio.wow.fadeInUp(data-wow-offset="100")
                include ./modules/project-card.pug
                
                   

                       

        <!----- CONTACT ------>
        section#contact.wow.zoomIn(data-wow-duration="2s")
            h2 HIRE ME
            p Have a question or want to work together?
            include ./modules/contact-form.pug

        include ./modules/footer.pug